.card_container {
  width: 450px;
  height: 300px;
  position: relative;
}

.card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.card_texto {
  width: 80%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-left: 43px;
  padding: 5px 15px;
}

.card_texto:hover {
  -webkit-transform: scaleX(1.2);
  transform: scaleX(1.2);
  color: #fff;
}

.card_texto h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.card_texto p {
  font-size: 20px;
  margin-top: 10px;
  text-align: center;
}
