.button {
  background-color: #9b2c2c;
  color: #fff !important;
  border-radius: 4px;
  padding: 10px 80px;
  transition: 0.5s;
  font-size: 20px;
  font-weight: bold;
}

.button:hover {
  background-color: #ed8936;
}
