#div-formulario {
    position: absolute;
    height: 550px;
    width: 35%;
    bottom: 78px;
    margin-left: 50%;
    display: flex;
    justify-content: center;
}

#input {
    position: absolute;
    top: 20%;
    margin-left: 16%;
    width: 90%;
}

@media screen and (max-width: 700px) {
    #div-formulario {
        position: absolute;
        height: 300px;
        width: 50%;
        bottom: 200px;
        display: flex;
        justify-content: center;
    }
    #input {
        position: absolute;
        top: 20%;
        margin-right: 120%;
        width: 120%;
    }
    
}